@use '../variable/color.scss' as color;
@use '../variable/transitions.scss' as trans;
@use '../variable/miscellaneous.scss' as misc;

.entry{
  cursor: text;
  padding-top: 0.4rem;
  padding-left: 1.6rem;
  padding-bottom: 0.5rem;
  padding-left: 1.6rem;
  border-radius: 0.8rem;
  border: map-get(misc.$border, "Standard") map-get(color.$entry-colors, "Border");
  background-color: map-get(color.$entry-colors, "Inactive");
  transition: map-get(trans.$transitions, "Standard" );

}

.entry:hover{
  background-color: map-get(color.$entry-colors, "Hover");
}