:root{
  --border-hours: 1px solid hsl(19,30%,50%);
}

.hour{
  border-bottom: var(--border-hours);
  z-index: -1;
  display: grid;
  grid-template-columns: 4.8rem auto;
  
  &:first-child{
    border-top: var(--border-hours);
  }
}


.periode{
  display: grid;
  grid-auto-rows: 1fr;
  position: relative;

  .periode__interactive{
    position: absolute;
    top:0;
    right:0;
    width:calc(100% - 4.8rem - 1.5rem);
    height:100%;
    display: grid;
    grid-template-rows: repeat(24, 1fr);
  }
}