$border: (
  "Standard": 1px solid,
);

$primary-shadow : 0px 0px 10px rgba(16, 14, 16, 0.2), 0px 5px 10px rgba(16, 14, 16, 0.2);
$secondary-shadow :  0px 0px 10px rgba(16, 14, 16, 0.1), 0px 2px 10px rgba(16, 14, 16, 0.15);

$box-shadow: (
  "Primary" : $primary-shadow,
  "Secondary" : $secondary-shadow,
  "Third" : 0px 0px 10px rgba(0, 0, 0, 0.15),
)